parameters:
    locale: en

    env(SYMFONY_SECRET): 'secret_value_for_symfony'

    env(LOG_URL): '%kernel.logs_dir%/%kernel.environment%.log'

    env(DATABASE_URL): 'mysql://root:111@127.0.0.1:3306/symfony_cafe'
    #
    # You can also create the database and load the sample data from the command line:
    #
    # $ php bin/console doctrine:database:create
    # $ php bin/console doctrine:schema:create
    # $ php bin/console doctrine:fixtures:load

    env(MAILER_URL): 'smtp://localhost:25?encryption=&auth_mode='
